@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

#home {
  background: url("./images/home__bckgrnd.png") center center/cover;
  height: 100vh;
}

.header div {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 30px;
}

#logo {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #ffffff;
}

#middle__section {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 20px auto;
}

#reader {
  background: url("./images/home__reader.png") center center/cover;
  width: 200px;
  height: 200px;
}

#div1 h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #d7d7d7;
  text-align: center;
  margin-top: 15px;
}

#writer {
  background: url("./images/home__writer.png") center center/cover;
  width: 200px;
  height: 200px;
}

#div2 h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #4d4d4d;
  text-align: center;
  margin-top: 15px;
}

#lower__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  width: 50%;
}

#lower__section h1 {
  font-family: Quicksand;
  font-size: 45px;
  letter-spacing: 1px;
  color: #226602;
}

#lower__section h1 span {
  color: white;
}

#arrow {
  cursor: pointer;
  transition: all 0.3s;
}

#arrow:hover {
  transform: scale(1.05);
}

.btn {
  color: #226602;
  border: 2px solid #226602;
  background: white;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Access Page */

#accessPage {
  background: url("./images/login__bckgrnd.png") center center/cover;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
}

#caraosel {
  width: 50%;
  height: 500px;
  background: #ffffff;
  border: 5px solid #93d075;
  border-radius: 12px;
}

#sign__section {
  width: 340px;
  height: 500px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sign__section > div:first-child {
  background: rgba(91, 184, 45, 0.66);
  width: 100%;
  border-radius: 12px 12px 0 0;
  text-align: center;
  font-size: 1.4rem;
  color: #4c8331;
  padding: 25px;
}

#sign__section > div:last-child {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign__section div p {
  color: #989898;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 0.85rem;
}

.form__container {
  width: 80%;
}

.form {
  margin-left: 10px;
  width: 90%;
}

.label {
  color: black;
  font-size: 15px;
}

.label input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #226602;
  border-radius: 5px;
}

.btn1 {
  width: 100%;
  border: 1px solid #4c8331;
  padding: 10px;
  background: white;
  font-weight: 700;
  color: #4c8331;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

#checkbox {
  opacity: 0;
}

#checkbox__label {
  font-weight: 700;
  color: #226602;
  font-size: 0.9rem;
  margin-top: -7px;
}

/* Main Header*/
#burger {
  display: none;
}
.main_header {
  background: #4c8331;
  color: white;
}

#main-header-container {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#search input {
  width: 400px;
  padding: 12px;
  margin-right: 0;
  border: unset;
}

#search-btn {
  padding: 10px;
  margin-left: -50px;
  border: unset;
  background: rgb(177, 168, 168);
}

#nav_bar {
  margin-top: 10px;
}

#nav_bar p {
  display: inline;
  padding: 15px;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

/* Section */
.section {
  display: flex;
  width: 90%;
  margin: 20px auto;
  justify-content: space-between;
}

.filter-container {
  width: 20%;
  max-height: 200px;
  box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
  border-radius: 0.4rem;
}

.filter-inner-container {
  padding: 10px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.label > select {
  width: 80%;
}

.section_container {
  padding: 20px;
  width: 80%;
  margin-left: 20px;
  border-radius: 0.4rem;
  box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
}

.section_container h3 {
  margin-bottom: 5px;
}

.cards {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

/*Slider*/

.book-card {
  text-decoration: none;
  border: 1px solid #bbbbbb;
  border-radius: 0.5rem;
}

.item_img {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  vertical-align: center;
}

.item_details_container {
  padding: 10px;
}

.item_title {
  color: black;
}

.item_div1 {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item_author {
  font-size: 0.9rem;
  font-weight: 700;
  color: #4d4d4d;
}

.category {
  margin-top: 10px;
  font-size: 0.75rem;
  background: #226602;
  padding: 2px 5px;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.item_div2 {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.item_read_time {
  font-size: 0.8rem;
  color: #4d4d4d;
}

.item_read_votes {
  font-size: 0.9rem;
  color: blue;
}

/*Book read page*/

.book_page_container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 0.4rem;
  box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: -8px 9px 6px -1px rgba(212, 212, 212, 0.75);
}

.book_page_desc_container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.book__details__container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book__details__container img {
  width: 90%;
  align-self: center;
  padding: 10px;
  border: 1px solid #b7b7b7;
}

.book_page_container1 {
  width: 68%;
}

.book_page_show_book {
  margin: 15px 10px;
  padding: 10px;
}

.btn_like {
  color: #226602;
  background: white;
  border: unset;
  font-weight: bold;
  margin: 10px 0;
  font-size: 0.9rem;
  cursor: pointer;
}

.webviewer {
  width: 60%;
  height: 75vh;
  margin: 0 auto;
}

/*Write page*/
.writePage {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.writePage h2 {
  letter-spacing: 0.1rem;
}

.writeForm {
  margin-top: 20px;
  margin-left: 20px;
}

.writeForm label {
  font-weight: 700;
  color: #226602;
}

.writeForm label input,
.writeForm label textarea,
.writeForm label select {
  display: block;
  margin: 10px;
  width: 60%;
  padding: 10px 25px;
  border: 2px solid #226602;
}

.uploadBtn {
  margin: 10px 0;
  margin-left: 47%;
  width: 150px;
  padding: 5px 15px;
}

.finalUploadBtn {
  padding: 10px 20px;
  margin-bottom: 80px;
  width: 200px;
  margin-left: 25px;
  background: hsl(100, 67%, 77%);
  color: #226602;
  font-weight: 700;
  border: 2px solid #226602;
}

/*****Bhojflix*****/
.navLink {
  text-decoration: none;
}

.section-container {
  margin: 0 auto;
  background: #f2f2f2;
  padding: 20px;
}

.search-results {
  margin: 20px auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-gap: 10px;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.video-card {
  background: white;
  width: 100%;
  transition: all 0.3s;
  border: white 1px solid;
  border-radius: 10px;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-image-container {
  width: 100%;
  position: relative;
}

.video-thumbnail-img {
  width: 100%;
  max-height: 180px;
  min-height: 180px;
  border-radius: 10px 10px 0 0;
}

.video-play-time {
  position: absolute;
  top: 78%;
  left: 82%;
  color: white;
  font-size: 0.6rem;
  background: green;
  border-radius: 4px;
  padding: 2px 3px;
}

.video-title {
  padding: 10px;
  font-size: 0.8rem;
  color: #ff5733;
}

/***Player page***/
.player-container {
  width: 60%;
  margin: 10px auto;
  /* background: #efefef; */
}

.video-details-1,
.video-details-2 {
  margin: 20px 0;
  border: 1px solid #d7d7d7;
  padding: 15px;
  -webkit-box-shadow: 2px 4px 7px -1px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 4px 7px -1px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 4px 7px -1px rgba(0, 0, 0, 0.28);
}

.video-details-1 {
  display: flex;
  justify-content: space-between;
}

.video-details-1 > div > h3 {
  color: #ff5733;
  display: inline;
  margin-left: 5px;
}

.video-details-1 > div > img {
  width: 100px;
}

.video-details-1 > div > p {
  color: #989898;
  font-size: 0.8rem;
  text-align: right;
}

.video-details-2-div {
  margin: 10px;
}

.video-details-2-div > p {
  font-size: 0.9rem;
}

/*Header*/
.header-container {
  background: #581845;
  color: white;
}

.header {
  padding: 10px 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.lowest-div {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 360px) and (max-width: 700px) {
  .header div {
    width: 100%;
    padding: 10px;
  }
  #logo {
    font-size: 30px;
  }
  #middle__section {
    width: 80%;
  }
  #reader,
  #writer {
    margin-top: 70px;
    width: 150px;
    height: 150px;
  }
  #lower__section {
    margin-top: 90px;
    width: 90%;
    text-align: center;
  }
  #lower__section h1 {
    letter-spacing: 2px;
  }
  #lower__section h1 span {
    color: #226602;
  }
  #caraosel {
    display: none;
  }
  #sign__section {
    margin-top: 50px;
    box-shadow: -8px 9px 6px -1px rgba(167, 167, 167, 0.75);
    -webkit-box-shadow: -8px 9px 6px -1px rgba(167, 167, 167, 0.75);
    -moz-box-shadow: -8px 9px 6px -1px rgba(167, 167, 167, 0.75);
  }
  .main_header {
    width: 100%;
  }
  #main-header-container {
    width: 100%;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #burger-div {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  #search input {
    width: 100%;
    margin-top: 10px;
  }
  #search-btn {
    margin-left: -50px;
    background: none;
  }
  #nav_bar {
    display: none;
  }
  .section {
    flex-direction: column;
    margin: 10px;
  }
  .filter-container,
  .section_container {
    width: 100%;
    margin: 0;
    padding: 5px;
  }
  .section_container {
    margin-left: 0;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: 100%;
  }
  .book-card {
    display: flex;
  }
  .item_img {
    width: 40%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
  }
  .item_details_container {
    width: 60%;
  }
  .category {
    margin-top: 40px;
  }
  .book_page_container {
    width: 90%;
    margin-top: 20px;
  }
  .book_page_desc_container {
    flex-direction: column;
  }
  .book__details__container {
    width: 100%;
  }
  .book_page_container1 {
    width: 100%;
    padding: 10px;
  }
  .read_book {
    flex-direction: column;
    padding: 10px;
  }
  .webviewer {
    width: 90%;
    height: 68vh;
  }
  #burger {
    display: block;
    width: 15%;
  }
  #burger img {
    width: 70%;
  }
  .link > h1 {
    width: 80%;
    text-align: left;
  }

  .side-menu {
    display: none;
    position: fixed;
    width: 50%;
    height: 100vh;
    background: white;
    top: 0;
    right: 0;
    animation: blur 0.5s 1;
  }
  .menu-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    color: #226602;
    font-weight: bold;
    z-index: 999;
  }
  #menu-img-close {
    margin: 20px;
    z-index: 999;
  }
  .search-results {
    width: 100%;
    margin: 5px auto;
  }
  .search-cards {
    padding: 0;
    margin: 0;
  }
  .item_img {
    border-radius: 5px 0 0 5px;
  }
}
@keyframes blur {
  0% {
    opacity: 0;
    right: -50%;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}
